name: Release

on:
  workflow_call:
    inputs:
      branch:
        default: 'main'
        required: false
        type: string
      version:
        required: true
        type: string
      jreleaser-version:
        default: 'early-access'
        required: false
        type: string
      java-version:
        default: '8'
        required: false
        type: string
    secrets:
      github-token:
        required: true
      gpg-passphrase:
        required: true
      gpg-public-key:
        required: true
      gpg-secret-key:
        required: true
      gpg-key-id:
        required: true
      gradle-publish-key:
        required: true
      gradle-publish-secret:
        required: true
      bluesky-host:
        required: true
      bluesky-handle:
        required: true
      bluesky-password:
        required: true
      mastodon-access-token:
        required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous run
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.github-token }}

      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java-version }}
          distribution: zulu
          cache: gradle

      - name: Set release version
        run: |
          VERSION=${{ inputs.version }}
          echo $VERSION > VERSION
          git add VERSION
          sed -i -e "s/^\:project-version\:\ .*/:project-version: ${VERSION}/g" README.adoc
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Action"
          git commit -a -m "Releasing version $VERSION"
          git push origin ${{ inputs.branch }}

      - name: Deploy to Plugin Portal
        env:
          GPG_KEY_ID: ${{ secrets.gpg-key-id }}
          GPG_SECRET_KEY: ${{ secrets.gpg-secret-key }}
          GPG_PASSPHRASE: ${{ secrets.gpg-passphrase }}
          GRADLE_PUBLISH_KEY: ${{ secrets.gradle-publish-key }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.gradle-publish-secret }}
        run: ./gradlew -Prelease=true -Pfull-release=true -PreproducibleBuild=true publishPlugins -S

      - name: Release
        uses: jreleaser/release-action@v2
        with:
          arguments: full-release
          version: ${{ inputs.jreleaser-version }}
        env:
          JRELEASER_PROJECT_VERSION: ${{ inputs.version }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.github-token }}
          JRELEASER_BRANCH: ${{ inputs.branch }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.gpg-passphrase }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.gpg-public-key }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.gpg-secret-key }}
          JRELEASER_BLUESKY_HOST: ${{ secrets.bluesky-host }}
          JRELEASER_BLUESKY_HANDLE: ${{ secrets.bluesky-handle }}
          JRELEASER_BLUESKY_PASSWORD: ${{ secrets.bluesky-password }}
          JRELEASER_MASTODON_ACCESS_TOKEN: ${{ secrets.mastodon-access-token }}

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: |
            out/jreleaser/trace.log
            out/jreleaser/output.properties